.actionBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-container{
    margin-top: 60px;
    background: #fff;
    min-height: calc(100vh - 60px);
    color: #be2000;
}