.container-listaDeContatos{
    background-color: #fff;
    min-height: 95vh;
}

#img-card{
    height: 12rem;
}

.paginator, .paginator span{
    text-align: center;
    border-radius: 5px;
    width: 30px;
    margin: 3px;
    color: #fff;
}

.ativo-paginacao{
    background-color: #fff !important;
}

.ativo-paginacao span{
    color: #013a1a;
}

.paginator:hover{
    box-shadow: none;
    background-color: #fff;
    color: #013a1a !important;
}
.paginator:hover span{
    color: #013a1a !important;
}

.paginacao-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#alertaDeSucesso{
    position: relative;               
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
}

.operacao-tabela{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tabela td, .tabela th{
    vertical-align: middle !important;
    text-align: center;

}

#lista-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#cardUsuario{
    background-color: #fff;
    margin: 20px 10px 40px 10px;
    width: 250px !important;   
}

.card-body-container{
    padding: 0px 10px;
}

#card-info-usuario{
    margin-top: 10px; 
}

#btn-contato-container{
    width: 264px;
}

#menu-card-header{
    margin-left: -5px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#menu-card-header .fa-trash{
    color: #a51010;
    margin-right: 13px;
    font-size: 13pt;
}

#menu-card-header .fa-edit{
    font-size: 14pt;
    color: #3d413d;
    cursor: pointer;
}

.card-header{
    font-weight: bold;
    font-size: 11pt;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#card-info-usuario p{
    color: #000000;
    margin: 2px;
    font-size: 10pt;
}

@media (max-width: 650px) { 
    .contatoPorPag-container{
        margin-top: 15px;
    }

    #lista-body{
        display: flex;
        flex-direction: column;
    }

    .contato-h1{
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 40px;
    }

    #cardUsuario{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 22rem !important;
    }

    #img-card{
        height: 21rem;
    }

    #numeroDoCard2{
        margin-top: -25px;
        margin-left: 110px;
    }

}


