.home-container{
    padding: 10px 0px;
}

.home-container ul li{
    font-size: 10pt;
}

.titulo h4{
    color: #fff;
}

.home-container ul li{
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: #b1b1b150;
    box-shadow: inset 2px 2px 3px #013a1a26,
    inset -2px -2px 3px #013a1a65;
}
.home-container ul li:hover{
    background-color: #246e46;
    box-shadow: inset 3px 3px 6px #bebebebe,
              inset -3px -3px 6px #013a1a;
    color: #fff;
}

@media (max-width: 575.98px) { 

    ul li{
        font-size: 10pt !important;
    }

    .titulo h4{
        font-size: 13pt !important;
    }

}
