.container-error{
    min-height: 75vh;
    padding: 20px
}
.btn-erro{
    margin-top: 37px;
    outline: 0;
    height: 56px;
    letter-spacing: .8px;
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    border-radius: 28px;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    box-sizing: border-box;
    transition-property: color;
    transition-duration: .2s;
    padding: 0 20px;
    font-weight: 800;
}

.btn-erro:hover{
    background-color: #fff;
    color: #bdbfc1;
}

.h1_erro{
    margin-top: 62px;
    color: #fff;
    font-size: 66px;
    letter-spacing: 1px;
    line-height: 90px;
}

.p_erro{
    margin-top: 19px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 39px;
    color: #fff;
}