.subunidade-container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #bdbfc1;
    /* min-height: 95vh; */
}

.teste2{
    /* margin-bottom: -40px !important; */
    border: 1px solid red;
    justify-content: space-around;
}
.subunidade-form{
    border-radius: 5px;
    /* margin: 10px 0px; */
    display: flex;
    justify-content: center;
    width: 100%;
    /* max-width: 1100px; */
    padding: 12px;
    border: 1px solid rgb(194, 194, 194);
    /* margin-top: 50px; */
  }

.lc{
    /* margin-top: 80px; */
}